.bg-cream {
  background-color: #eee8a9;
}
.text-cream {
  color: #eee8a9;
}
.navbar-brand {
  margin-left: 20px;
  color: #0d6efd !important;
  &:hover {
    text-decoration: underline;
  }
}
.nav-link {
  margin-left: 20px;
  color: #0d6efd !important;
  &:hover {
    color: white !important;
  }
}
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
